		<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="dashboard">
                        Application
                    </a>
                </li>
                <li>
                    <a href="users">Users</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->