{{>header}}
	<div class="row">
		<div class="col-md-12">
			<h2>
				{{#i18n}}labels.users{{/i18n}}
			</h2>
			<hr>
		</div>
	</div>
	<div class="row text-right">
		<div class="col-md-12">
			<div class="btn-group form-group">
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-plus"></em> Adicionar
				</button> 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Login
						</th>
						<th>
							E-mail
						</th>
						<th>
							Date Created
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<ul class="pagination pagination-sm">
				<li>
					<a href="#">Prev</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>
	</div>

{{>footer}}
